---
http_interactions:
- request:
    method: get
    uri: https://api.bincodes.com/bin/json/1111111111111111/427230/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Turbo-Charged-By:
      - LiteSpeed
    body:
      encoding: ASCII-8BIT
      string: |
        {
            "bin": "427230",
            "bank": "BANK VTB24 (CJSC)",
            "card": "VISA",
            "type": "CREDIT",
            "level": "GOLD",
            "country": "RUSSIAN FEDERATION",
            "countrycode": "RU",
            "website": "HTTP://WWW.VTB24.RU/",
            "phone": "8 800 100-24-24",
            "valid": "true"
        }
  recorded_at: Wed, 30 May 2018 08:33:59 GMT
- request:
    method: get
    uri: https://api.bincodes.com/bin/json/1111111111111111/427230/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Turbo-Charged-By:
      - LiteSpeed
    body:
      encoding: ASCII-8BIT
      string: |
        {
            "bin": "427230",
            "bank": "BANK VTB24 (CJSC)",
            "card": "VISA",
            "type": "CREDIT",
            "level": "GOLD",
            "country": "RUSSIAN FEDERATION",
            "countrycode": "RU",
            "website": "HTTP://WWW.VTB24.RU/",
            "phone": "8 800 100-24-24",
            "valid": "true"
        }
  recorded_at: Wed, 30 May 2018 08:36:28 GMT
recorded_with: VCR 4.0.0
