/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

# rspec failure tracking
.rspec_status
.rubocop-https---raw-githubusercontent-com-serverscom-best-practices-master--rubocop-yml
.DS_Store
