---
http_interactions:
- request:
    method: get
    uri: https://api.bincodes.com/bin/json/1111111111111111/537465/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Turbo-Charged-By:
      - LiteSpeed
    body:
      encoding: ASCII-8BIT
      string: |
        {
            "bin": "537465",
            "bank": "BUNQ B.V.",
            "card": "MASTERCARD",
            "type": "DEBIT",
            "level": "STANDARD",
            "country": "NETHERLANDS",
            "countrycode": "NL",
            "website": "",
            "phone": "",
            "valid": "true"
        }
  recorded_at: Wed, 30 May 2018 09:04:46 GMT
recorded_with: VCR 4.0.0
