---
http_interactions:
- request:
    method: get
    uri: https://api.bincodes.com/bin/json/1111111111111111/427664/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Turbo-Charged-By:
      - LiteSpeed
    body:
      encoding: ASCII-8BIT
      string: |
        {
            "bin": "427664",
            "bank": "SAVINGS BANK OF THE RUSSIAN FEDERATION (SBERBANK)",
            "card": "VISA",
            "type": "DEBIT",
            "level": "CLASSIC",
            "country": "RUSSIAN FEDERATION",
            "countrycode": "RU",
            "website": "HTTP://WWW.SBERBANK.COM/",
            "phone": "7 (495) 500-5550",
            "valid": "true"
        }
  recorded_at: Wed, 30 May 2018 07:42:22 GMT
- request:
    method: get
    uri: https://api.bincodes.com/bin/json/1111111111111111/427664/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Turbo-Charged-By:
      - LiteSpeed
    body:
      encoding: ASCII-8BIT
      string: |
        {
            "bin": "427664",
            "bank": "SAVINGS BANK OF THE RUSSIAN FEDERATION (SBERBANK)",
            "card": "VISA",
            "type": "DEBIT",
            "level": "CLASSIC",
            "country": "RUSSIAN FEDERATION",
            "countrycode": "RU",
            "website": "HTTP://WWW.SBERBANK.COM/",
            "phone": "7 (495) 500-5550",
            "valid": "true"
        }
  recorded_at: Wed, 30 May 2018 07:45:59 GMT
recorded_with: VCR 4.0.0
